html
 	{
  	 background: url(file:///C:/Users/jonat/Desktop/Jonathons%20website/Art%20website/Images/R.jpg) no-repeat center fixed;
 	 background-size: cover;
 	}

/*titles and tool bar*/
a
	{
	text-align: center;
	color: white;
	}
.table 
	{
	list-style-type: none; 
	text-align: center; margin: 0; 
	padding: 0;
	}
.table li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}