/* index page*/
h1{
    text-align: center;
    color:deeppink;
    
}

.tool-bar{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: deeppink;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: black;
  }

  img{
    height: 80px ;
  }

  .container{
    display: flex;
    align-items: center; 
  }

  .container img {
    margin-right: 10px; 
}

.main{
  margin: 10px;
  width: 600px;
  height: 300px;
}

/* products page*/
/* services page*/
/* contact info page*/